<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/logo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Sistema de Alunos</strong></ion-text>
        <br><br>
      </h1>
      
      <p margin-bottom>
       Este aplicativo é para fins didáticos e parte integrante em conclusão do curso da Pós-Graduação de Engenharia de Software. <br><br>
      </p>
      
      <p>
        Autor(a): Cristina Dias <br>
        Puc Minas
      </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
